.image-background2 {
  width: 50%;
  height: 100vh;
  background-image: url('images/pexels-alleksana-4264322.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
